.player-highlights-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.select-favorite-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.player-select {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
  outline: none;
  transition: all 0.3s ease;
}

.player-select:focus {
  border-color: #0056b3;
}

.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  transition: transform 0.3s ease;
  margin-right: -3.5%;
  margin-top: -1%;
}

.favorite-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.favorite-button:hover {
  transform: scale(1.2);
}

h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  background-color: #e9ecef;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li span {
  font-size: 1.5rem;
}

.videos-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow: hidden;
  width: 100%;
}

.video-item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.video-item iframe {
  width: 100%; /* Make iframe take up the full width of the container */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  border-radius: 10px; /* Optional: match the border-radius of the container */
}

.video-item h4 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.load-more-button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  margin: 20px auto 0;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #0056b3;
}
